name: "Code Translator"
title: "Code Translator"
url: "code-translator"
description: "Code Translaotr assistant using OpenAI"

# access: to define access level in Posit Connect
# acl       (access only for specific users), 
# logged_in (any registered user, must log in first), 
# all       (any user no login required)
access: "acl"

# change location and name of favicon and logo as necessary
favicon: "favicon.png"
logo: "logo.png"

# define translation languages (from/to)
from_language: "SAS"
from_language_2: "SPSS"
to_language: "R"

# this is now to be set as an environment variable in Posit Connect (OPEN_AI_KEY) 
# it will be read from there first then from here if it doesn't exists in Connect
open_ai_key: "your-key-here"
open_ai_model: "GPT-4o"
open_ai_max_tokens: 4000
max_workers: 4  # full value can also be stored as an environment variable in Posit Connect (MAX_WORKERS)

# define regex patterns here 
# the provided patterns match the following (in order)
# - regexPatternFilepath
# - regexPatternIPaddress
# - regexPatternUsernames
# - regexPatternPasswords
regex: [
    "\\/(https:\\/\\/www\\.|http:\\/\\/www\\.|https:\\/\\/|http:\\/\\/)?[a-zA-Z]{2,}(\\.[a-zA-Z]{2,})(\\.[a-zA-Z]{2,})?\\/[a-zA-Z0-9]{2,}|((https:\\/\\/www\\.|http:\\/\\/www\\.|https:\\/\\/|http:\\/\\/)?[a-zA-Z]{2,}(\\.[a-zA-Z]{2,})(\\.[a-zA-Z]{2,})?)|(https:\\/\\/www\\.|http:\\/\\/www\\.|https:\\/\\/|http:\\/\\/)?[a-zA-Z0-9]{2,}\\.[a-zA-Z0-9]{2,}\\.[a-zA-Z0-9]{2,}(\\.[a-zA-Z0-9]{2,})?"
  , "(?:[0-9]{1,3}\\.){3}[0-9]{1,3}"
  , "([a-zA-Z]{1,}):\\/\\/([a-zA-Z]{1,})|([a-zA-Z]{1,}):\\/([a-zA-Z]{1,})|([a-zA-Z]{1,}):\\/\\/|([a-zA-Z]{1,}):\\/"
  , "\\b(username)\\b|\\b(user)\\b|\\b(uid)\\b"
  , "\\b(password)\\b|\\b(pword)\\b|\\b(pwrd)\\b|\\b(passw)\\b|\\b(pwd)\\b\\/g"
  ]

# the following params are for creation of the docker image and running the app with in a docker container
docker:
    port: 3838
    host: "0.0.0.0"
    path: "/home/sas-to-r-translator"
    image_name: "sas-to-r-translator"
