/* Live syntax-highlighting Input Console */
#editing, #editing2, #highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  height: 750px;
  width: 95%;
  margin: 1px;
  margin-left: 16px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  outline: 0;
}

#editing, #editing2, #highlighting, #highlighting * {
  /* Also add text styles to highlighing tokens */
  font-size: 11pt;
  font-family: "Courier New";
  line-height: 1.5;
  tab-size: 2;
}


#editing, #editing2, #highlighting {
  /* In the same place */
  position: absolute;
  left: 0;
}


/* Move the textarea in front of the result */
#editing, #editing2 {
  z-index: 1;
}
#highlighting {
  z-index: 0;
}


/* Make textarea almost completely transparent */
#editing, #editing2 {
  color: transparent;
  background: transparent;
  caret-color: black;
}

#highlighting {
  background: white;
}

/* Can be scrolled */
#editing, #editing2, #highlighting {
  overflow: auto;
  white-space: nowrap; /* Allows textarea to scroll horizontally */
}

/* No resize on textarea */
#editing, #editing2 {
  resize: none;
}

#editing:focus, #highlighting:focus, #editing2:focus {
  background-color: transparent;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
}



/* Paragraphs; First Image */
p code {
  border-radius: 2px;
  background-color: white;
  color: #111;
}


/* Content Formatting */
#process, #optimise {
  background-color: #006F74;
  border-color: #006F74;
  color: white;
  -webkit-user-drag: none;
  position: absolute;
  bottom: 0;
}


#progress-bar {
  margin-left: 150px;
  position: absolute;
  bottom: 0;
}

h2 {
  margin-top: 0;
}

#output {
  background-color: white;
  border-radius: 5px; 
}

#output {
  overflow: auto;
  white-space: nowrap;
}

#response {
  background-color: white;
}

#CSO_branding {
  position: fixed;
  background-color: white;
  left: 20px;
  top: 3px;
  z-index: 3;
  width: 333px; 
  height: 81px;
}

#inTabset {
  position: fixed;
  background-color: white;
  width: 100%;
  padding-bottom: 44px;
  top: 0;
  z-index: 1;
}

.tab-content {
  margin-top: 85px;
}

.tabbable .nav-tabs {
  padding-left: 350px;
  border-bottom-color: transparent;
}

.tabbable .nav-tabs li a {
  background-color: #006F74;
  color: white;
  -webkit-user-drag: none;
}

.tabbable .nav-tabs li:hover a {
  background-color: #45C1C0;
  color: white;
  -webkit-user-drag: none;
}

.tabbable .nav-tabs li a.active {
  background-color: #45C1C0;
  color: white;
  -webkit-user-drag: none;
}


.ace_content, .ace_gutter{
  font-size: 10pt;
  font-family: "Lucida Console";
  line-height: 1.5;
  tab-size: 2;
}

#api_response2 {
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

/* Syntax Highlighting from prism.js starts below */

/* PrismJS 1.29.0 https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+sas */
 code[class*=language-],pre[class*=language-]{
    color:#000;
    background:0 0;
    text-shadow:0 1px #fff;
    font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    font-size:1em;
    text-align:left;
    white-space:pre;
    word-spacing:normal;
    word-break:normal;
    word-wrap:normal;
    line-height:1.5;
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4;
    -webkit-hyphens:none;
    -moz-hyphens:none;
    -ms-hyphens:none;
    hyphens:none
}
code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{
    text-shadow:none;
    background:#b3d4fc
}
code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{
    text-shadow:none;
    background:#b3d4fc
}
@media print{
    code[class*=language-],pre[class*=language-]{
        text-shadow:none
    }
}
pre[class*=language-]{
    padding:1em;
    margin:.5em 0;
    overflow:auto
}
:not(pre)>code[class*=language-],pre[class*=language-]{
    background:#f5f2f0
}
:not(pre)>code[class*=language-]{
    padding:.1em;
    border-radius:.3em;
    white-space:normal
}
.token.cdata,.token.comment,.token.doctype,.token.prolog{
    color:#708090
}
.token.punctuation{
    color:#000
}
.token.namespace{
    opacity:.7
}
.token.boolean,.token.constant,.token.deleted,.token.property,.token.symbol,.token.tag{
    color:#905
}
.token.number {
    color:#008080;
    font-weight:bold;
}
.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{
    color:#800080
}
.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{
    color:#9a6e3a;
}
.token.atrule,.token.attr-value,.token.keyword{
    color:#0000ff
}
.token.step.keyword{
    color:#000080;
    font-weight:bold;
}
.token.class-name,.token.function{
    color:#dd4a68
}
.token.important,.token.regex,.token.variable{
    color:#e90
}
.token.bold,.token.important{
    font-weight:700
}
.token.italic{
    font-style:italic
}
.token.entity{
    cursor:help
}
 

/* End of prism.js syntax highlighting*/